In [1]:
import numpy as np
import pandas as pd 

data =  pd.read_csv('BlackFriday.csv', sep=',')

In [3]:
data.sample(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
41820,1000441,P00368142,M,36-45,1,B,1,0,2,15.0,NaN,13027
276491,1000647,P00045342,M,36-45,12,B,1,1,1,5.0,17.0,3908
286808,1002106,P00248942,F,18-25,20,A,3,1,1,6.0,14.0,11926
230417,1005538,P00089342,M,46-50,12,B,2,1,8,NaN,NaN,7940
252881,1003032,P00210342,M,26-35,0,A,1,1,3,4.0,NaN,13376

In [2]:
def gen_other(n_top, df, field):
	''' Take the specified top numbers and replace the rest with 'Others' '''
	keys = list(data[field].value_counts().nlargest(int(n_top)).to_dict().keys())
	data[field] = data[field].apply(lambda x:x if x in keys else 'other')

In [3]:
data['Product_Category_3'] = data['Product_Category_3'].replace(np.nan, 'other', regex=True)
data['Product_Category_2'] = data['Product_Category_2'].replace(np.nan, 'other', regex=True)

In [4]:
data['Purchase'] = data['Purchase'].astype('int')
data['User_ID'] = data['User_ID'].astype('str')
data['Occupation'] = data['Occupation'].astype('str')
data['Marital_Status'] = data['Marital_Status'].astype('str')
data['Product_Category_1'] = data['Product_Category_1'].astype('str')

In [5]:
ntop = 5 
columns =['Gender', 'City_Category', 'Stay_In_Current_City_Years', 'Occupation', 
            'Age', 'Product_ID', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3']
for column in columns:
    gen_other(ntop, data, column)

In [6]:
data1 = data[['User_ID', 'Purchase', 'Marital_Status']]

In [7]:
for column in columns:
	dummy = pd.get_dummies(data[column])
	data1 = pd.concat([data1, dummy], axis = 1)

In [8]:
del data

In [9]:
data1 = data1.drop(['other', 'M', 'C'], axis = 1)

In [10]:
data1.to_csv('BlackFridaydata.csv', sep = ',')