In [13]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import ElasticNet

In [7]:
data=pd.read_csv("BlackFridaydata.csv")

In [3]:
data.head()

,Unnamed: 0,User_ID,Purchase,Marital_Status,F,A,B,0,1,2,...,5,8,2.0,8.0,14.0,16.0,14.0.1,15.0,16.0.1,17.0
0,0,1000001,8370,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1000001,15200,0,1,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,2,1000001,1422,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,1000001,1057,0,1,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,4,1000002,7969,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

# Linear Regression

In [8]:
data.drop("User_ID",axis=1,inplace=True) 

Y=data.Purchase
X=data.drop("Purchase",axis=1)

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [9]:
regr = LinearRegression(fit_intercept=True, normalize=False,
                                     n_jobs=None, copy_X=True).fit(x_train, y_train)

In [10]:
regr.score(x_train, y_train)

0.4020619520356098

In [11]:
y_pred = regr.predict(x_test)

In [12]:
r2_score(y_test, y_pred)

0.40148608837380717

# Decision Tree Regressor

In [21]:
regressor = DecisionTreeRegressor(max_depth=10, min_samples_leaf=25, random_state=42).fit(x_train, y_train)

In [22]:
y_pred=regressor.predict(x_test)

In [24]:
regressor.score(x_train, y_train)

0.43179273330597856

# Random Forest Regressor

In [10]:
regressor = RandomForestRegressor(max_depth=10, min_samples_leaf=25, random_state=42).fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [11]:
y_pred=regressor.predict(x_test)

In [12]:
regressor.score(x_train, y_train)

0.4329353916393226